<!-- <ion-header>
  <ion-navbar>
    <ion-title>Parking Alarm</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: #a60033;">
  <div style="    justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;">
    <img src="assets/imgs/alarmicon.png" style="width:18%;"/>
    <div>
      <button ion-button>Lock Engine</button>
      <button ion-button (click)="dismiss()">Stop</button>
    </div>
    <button ion-button round block color="light" >Exit</button>
  </div>


</ion-content> -->








<ion-content padding style="background: #a60033;">
  <ion-row style="padding-top: 150px;">
    <ion-col col-3></ion-col>
    <ion-col col-6>
      <img src="assets/imgs/alarmicon.png" style="height: 150px; width: 180px;" />
    </ion-col>
    <ion-col col-3></ion-col>
  </ion-row>

  <div>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-8 style="text-align: center;">
        <p style="margin: 0px; font-size: 1.8em; color: white; font-weight: 600;">Parking Violation</p>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
    <ion-row style="padding-top: 16px;">
      <ion-col col-3></ion-col>
      <ion-col col-6>
        <button ion-button round block color="gpsc">Lock Engine</button>
        <button ion-button round block color="light" (click)="dismiss()">Exit</button>

      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6>
        <button ion-button round block color="gpsc">View</button>
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6>
        <button ion-button round block color="light" (click)="dismiss()">Exit</button>
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row> -->
  </div>
</ion-content>
