<ion-content style="background: #f6f6f6;">
  <div id="parent">
    <!-- <div class="first">
      <img src="assets/imgs/icon.png" class="image">
      <div>

      </div>
    </div>-->
    <ion-row>
      <!-- <ion-col col-1 style="color: white; height: 235px">
        cds
      </ion-col>-->

      <ion-col col-12
               style="height: 250px; margin-top: -20px; background-image: linear-gradient(to right top, #d80622, #c0002d, #a60033, #8b0935, #6f1133); border-radius: 0px 0px 0px 90px;">
        <!-- <img src="assets/imgs/icon.jpg" class="image"> -->
        <!-- <div style="text-align: center;
        height: 50px;
        border: 1px solid;
        margin-top: 22%">
          sd
        </div>-->
        <!-- <div id="parent"> -->
          <div id="child">
            <img src="assets/imgs/iconlogo.png"
                 style="max-width: -webkit-fill-available;height: 100px; border: 0;margin-left: 30px;" />
            &nbsp; &nbsp;
            <span style="color: white; font-size: x-small;">
            </span>
            <p style="margin-left: 117px; margin-top: -80px;color: white; font-size: 25px;">
              OneQlik Vanilla
            </p>
          </div>
       <!-- </div> -->
          <!-- <div class="center">
            <img src="assets/imgs/iconlogo.png"
                 style="max-width: -webkit-fill-available;height: 100px; border: 0;margin-left: 30px;" />
            &nbsp; &nbsp;
            <span style="color: white; font-size: x-small;">
            </span>
            <p style="margin-left: 117px; margin-top: -80px;color: white; font-size: 25px;">
              OneQlik Vanilla
            </p>
          </div> -->
        <!-- <ion-row ion-padding>
          <ion-col col-1 style></ion-col>
          <ion-col col-10 style>
            <img src="assets/imgs/iconlogo.png"
                 style="max-width: -webkit-fill-available;height: 100px; border: 0;margin-left: 30px;" />
            &nbsp; &nbsp;
            <span style="color: white; font-size: x-small;"></span>
            <p style="margin-left: 117px; margin-top: -80px;color: white; font-size: 25px;">
              OneQlik Vanilla
            </p>
            <div style="text-align: center;">
              
            </div>
          </ion-col>
          <ion-col col-1 style></ion-col>
        </ion-row>-->
      </ion-col>

      <!-- <ion-col col-1 style="color: white ; height: 235px">
        ds
      </ion-col>-->
    </ion-row>
    <form [formGroup]="loginForm" style="margin-top: 50px;">
      <div class="temp">
        <ion-row style="padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid;
        border-radius: 40px;
        width: 85%;
        margin: auto;
        height: 60px;">
          <ion-col col-2
                   style=" text-align: center; border-radius: 39px; height: 50px;">
            <ion-icon name="person"
                      style="color: gray; font-size: 20px; margin: 8px;">
            </ion-icon>
          </ion-col>
          <ion-col col-10>
            <ion-input formControlName="username"
                       placeholder="{{'Email/Mobile/User Id*' | translate}}"
                       type="text">
            </ion-input>
          </ion-col>
        </ion-row>
      </div>
      <ion-item *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)"
                class="logitem1">
        <p>{{'username required!' | translate}}</p>
      </ion-item>

      <div class="temp">
        <ion-row style="padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid;
        border-radius: 40px;
        width: 85%;
        margin: auto;
        height: 60px;">
          <ion-col col-2
                   style=" text-align: center; border-radius: 39px; height: 50px;">
            <ion-icon name="lock"
                      style="color: gray; font-size: 20px; margin: 8px;">
            </ion-icon>
          </ion-col>
          <ion-col col-8>
            <ion-input *ngIf="!showPassword"
                       formControlName="password"
                       placeholder="{{'Password*' | translate}}"
                       type="password">
            </ion-input>
            <ion-input *ngIf="showPassword"
                       formControlName="password"
                       placeholder="{{'Password*' | translate}}"
                       type="text">
            </ion-input>
          </ion-col>
          <ion-col col-2>
            <button (click)="toggleShowPassword()" clear ion-button item-end>
              <ion-icon *ngIf="showPassword"
                        color="red"
                        name="eye"
                        style="font-size: 1em;">
              </ion-icon>
              <ion-icon *ngIf="!showPassword"
                        color="red"
                        name="eye-off"
                        style="font-size: 1em;">
              </ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>
      <ion-item *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"
                class="logitem1">
        <p>{{'Password required!' | translate}}</p>
      </ion-item>
    </form>
    <span (tap)="forgotPassFunc()" style="margin-left: 207px;">
      Reset Password
    </span>
    <div (tap)="userlogin()" class="btnDiv">
      <button class="btnLog"
              color="gpsc"
              ion-button
              style="background: #d80622;">
        LOGIN
      </button>
    </div>

    <!-- <ion-row style="margin-top: 15px;">
      <ion-col col-2>

      </ion-col>

      <ion-col col-3 (click)="gotodemopage()">
        <ion-icon name="keypad" style="font-size: 2.2em;"></ion-icon>
        <br>
        <span style="margin-left: -26px;">Demo Login</span>
      </ion-col>

      <ion-col col-3>
        <a href="https://api.whatsapp.com/send?phone=918873690292" style="color: black;">
        <ion-icon name="logo-whatsapp" style="font-size: 2.2em;"></ion-icon>
        <br>
        <span style="margin-left: -18px;">Whastapp</span>
      </a>
      </ion-col>

      <ion-col col-3 (click)="dialNumber(918873690292)">
        <ion-icon name="call" style="font-size: 2.2em; margin-left: -5px;"></ion-icon>
        <br>
        <span style="margin-left: -18px;">Support</span>
      </ion-col>

    </ion-row>-->
    <!-- <ion-footer>
      <ion-toolbar style="text-align: center;">
        <button class="last" (click)="gotosignuppage()">NEW USER? SIGN UP</button>
      </ion-toolbar>
    </ion-footer>-->

    <ion-footer>
      <ion-row>
        <ion-col col-12
                 style="height: 250px; margin-top: -30px; background-image: linear-gradient(to right top, #d80622, #c0002d, #a60033, #8b0935, #6f1133); border-radius: 0px 104px 0px 0px;">
          <ion-row style="margin-top: 20px;">
            <ion-col col-2></ion-col>

            <ion-col (click)="gotodemopage()" col-3>
              <ion-icon name="keypad" style="font-size: 2.2em;color: white;">
              </ion-icon>
              <br />
              <span style="margin-left: -26px; color: white;">Demo Login</span>
            </ion-col>

            <ion-col col-3>
              <a [attr.href]="'https://api.whatsapp.com/send?phone=' + '+91' + sales_contact"
                 style="color: black;">
                <ion-icon name="logo-whatsapp"
                          style="font-size: 2.2em;color: white;">
                </ion-icon>
                <br />
                <span style="margin-left: -18px;color: white;">Whastapp</span>
              </a>
            </ion-col>

            <ion-col (click)="dialNumber(support_contact)" col-3>
              <ion-icon name="call"
                        style="font-size: 2.2em; margin-left: -5px;color: white;">
              </ion-icon>
              <br />
              <span style="margin-left: -18px;color: white;">Support</span>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- <ion-col col-2>

          </ion-col>

          <ion-col col-3 (click)="gotodemopage()">
            <ion-icon name="keypad" style="font-size: 2.2em;"></ion-icon>
            <br>
            <span style="margin-left: -26px;">Demo Login</span>
          </ion-col>

          <ion-col col-3 style="margin-left: 9px;">
            <a href="https://api.whatsapp.com/send?phone=918076870378" style="color: black;">
            <ion-icon name="logo-whatsapp" style="font-size: 2.2em;"></ion-icon>
            <br>
            <span style="margin-left: -18px;">Whastapp</span>
          </a>
          </ion-col>

          <ion-col col-3 (click)="dialNumber(918076870378)">
            <ion-icon name="call" style="font-size: 2.2em; margin-left: -5px;"></ion-icon>
            <br>
            <span style="margin-left: -18px;">Support</span>
        </ion-col>-->
      </ion-row>
    </ion-footer>
  </div>
</ion-content>
