<ion-header>
  <ion-navbar>
    <ion-title>{{ "Live For " | translate }}{{ titleText }}</ion-title>
    <ion-buttons end>
      <button *ngIf="allData.tripStat != 'Started'" ion-button icon-only (click)="createTrip()">
        <ion-icon name="play"></ion-icon>
      </button>
      <button *ngIf="allData.tripStat == 'Started'" ion-button icon-only (click)="endTrip()">
        <ion-icon name="radio-button-on"></ion-icon>
      </button>
      <!-- <button ion-button icon-only (click)="showGallery()">
        <ion-icon name="camera"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
  
</ion-header>
<ion-content *ngIf="!hideMe">
  <div *ngIf="showOtherBtns">
    <ion-fab right style="margin-top:72%" showWhen="ios">
      <button ion-fab  color="gpsc" mini (click)="reCenterMe()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right style="margin-top:85%" showWhen="ios">
      <button color="gpsc" ion-fab (click)="zoomin()" mini>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right style="margin-top:98%" showWhen="ios">
      <button color="gpsc" ion-fab (click)="zoomout()" mini>
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab left style="margin-top:59%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': policeButtonColor}" mini (click)="showNearby()">
        <ion-icon name="custom-nearby" [ngStyle]="{'color': policeColor}"></ion-icon>
      </button>
    </ion-fab>

   

    <ion-fab left style="margin-top:72%" showWhen="ios">
      <button ion-fab color="gpsc" mini (click)="refreshMe1()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab left style="margin-top:85%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': streetviewButtonColor}" mini (click)="streetView()">
        <ion-icon name="custom-street" [ngStyle]="{'color': streetColor}"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab left style="margin-top:98%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': navigateButtonColor}" mini (click)="navigateFromCurrentLoc()">
        <ion-icon name="navigate" [ngStyle]="{'color': navColor}"></ion-icon>
      </button>
    </ion-fab>
  </div>

  <ion-fab right style="margin-top:72%" showWhen="android">
    <button ion-fab color="gpsc" mini (click)="reCenterMe()">
      <ion-icon name="locate"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab right style="margin-top:85%" showWhen="android">
    <button color="gpsc" ion-fab (click)="zoomin()" mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab right style="margin-top:98%" showWhen="android">
    <button color="gpsc" ion-fab (click)="zoomout()" mini>
      <ion-icon name="remove"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab left style="margin-top:16%" showWhen="android">
    <button ion-fab [ngStyle]="{'background-color': policeButtonColor}" mini (click)="showNearby()">
      <ion-icon name="custom-nearby" [ngStyle]="{'color': policeColor}"></ion-icon>
    </button>
  </ion-fab>


  <ion-fab left style="margin-top:29%" showWhen="android">
    <button ion-fab color="gpsc" mini (click)="refreshMe1()">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab left style="margin-top:42%" showWhen="android">
    <button ion-fab [ngStyle]="{'background-color': streetviewButtonColor}" mini (click)="streetView()">
      <ion-icon name="custom-street" [ngStyle]="{'color': streetColor}"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab left style="margin-top:55%" showWhen="android">
    <button ion-fab [ngStyle]="{'background-color': navigateButtonColor}" mini (click)="navigateFromCurrentLoc()">
      <ion-icon name="navigate" [ngStyle]="{'color': navColor}"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab left style="margin-top:68%" showWhen="android">
    <button ion-fab [ngStyle]="{'background-color': navigateButtonColor}" mini (click)="supportCall()">
      <ion-icon ios="ios-call" md="md-call" [ngStyle]="{'color': navColor}"></ion-icon>
    </button>
  </ion-fab>


  <ion-row *ngIf="showDistDuration"
    style="margin-top:72%; background-color: rgb(0, 0, 0, 0.5); font-size: 0.8em; color: white;border-radius: 25px;width: 70%;margin: auto; padding:5px;">
    <ion-col style="background-color: transparent; text-align: center;" col-6>
      {{ "Distance" | translate }} {{ expectation.distance }}
    </ion-col>
    <ion-col style="background-color: transparent; text-align: center;" col-6>
      {{ "Time" | translate }} {{ expectation.duration }}
    </ion-col>
  </ion-row>
  <div id="map_canvas_single_device">
    <ion-row>
      <ion-col>
        <ion-fab top left>
          <button ion-fab color="gpsc" mini (click)="onMapType()">
            <ion-icon *ngIf="afterMapTypeClick" name="logo-buffer"></ion-icon>
            <img *ngIf="!afterMapTypeClick" src="assets/icon/stack-of-square-papers-svg.png">
          </button>
      
        </ion-fab>
      </ion-col>
      <ion-col>
        <p class="blink" style="text-align: center;font-size:24px;color: green;font-weight: 600;"
          *ngIf="vehicle_speed <= 60">
          {{ vehicle_speed }}
          <span
            style="font-size:16px;">{{ (measurementUnit == 'MKS') ? ("Km/hr" | translate) : ("Miles/hr" | translate)}}</span>
        </p>
        <p class="blink" style="text-align: center;font-size:24px;color: red;font-weight: 600;"
          *ngIf="vehicle_speed > 60">
          {{ vehicle_speed }}
          <span
            style="font-size:16px;">{{ (measurementUnit == 'MKS') ? ("Km/hr" | translate) : ("Miles/hr" | translate)}}</span>
        </p>
      </ion-col>
      <ion-col>
        <ion-fab top right>
   

            <button color="gpsc" style="margin: 10px 0px 1px 0px;" ion-fab mini *ngIf="showShareBtn"
              (click)="shareLive($event)">
              <ion-icon name="share"></ion-icon>
            </button>
            <button color="gpsc" style="margin: 3px 0px 1px 0px;" ion-fab mini (click)="onSelectMapOption('mapTrail')"
              [ngStyle]="{'background-color': eyeBtnColor}">
              <ion-icon name="eye" [ngStyle]="{'color': eyeColor}"></ion-icon>
            </button>
            <button color="gpsc" style="margin: 3px 0px 1px 0px;" ion-fab mini (click)="onSelectMapOption('mapHideTraffic')">
              <img src="assets/icon/trafficON.png" *ngIf="mapHideTraffic" />
              <img src="assets/icon/trafficOFF.png" *ngIf="!mapHideTraffic" />
            </button>
            <button color="gpsc" style="margin: 3px 0px 1px 0px;" ion-fab mini (click)="settings()">
              <ion-icon name="cog"></ion-icon>
            </button>
            <button color="gpsc" style="margin: 3px 0px 1px 0px;" ion-fab mini (click)="addPOI()">
              <ion-icon name="flag"></ion-icon>
            </button>

        </ion-fab>
       
      </ion-col>
    </ion-row>

    <ion-fab right style="margin-top:85%" showWhen="ios">
      <button ion-fab color="gpsc" mini (click)="reCenterMe()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right style="margin-top:98%" showWhen="ios">
      <button color="gpsc" ion-fab (click)="zoomin()" mini>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right style="margin-top:111%" showWhen="ios">
      <button color="gpsc" ion-fab (click)="zoomout()" mini>
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab left style="margin-top:59%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': policeButtonColor}" mini (click)="showNearby()">
        <ion-icon name="custom-nearby" [ngStyle]="{'color': policeColor}"></ion-icon>
      </button>
    </ion-fab>


    <ion-fab left style="margin-top:72%" showWhen="ios">
      <button ion-fab color="gpsc" mini (click)="refreshMe1()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab left style="margin-top:85%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': streetviewButtonColor}" mini (click)="streetView()">
        <ion-icon name="custom-street" [ngStyle]="{'color': streetColor}"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab left style="margin-top:98%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': navigateButtonColor}" mini (click)="navigateFromCurrentLoc()">
        <ion-icon name="navigate" [ngStyle]="{'color': navColor}"></ion-icon>
      </button>
    </ion-fab>
  </div>
  <div id="viewParanoma" style="width: 100%;height: 300px;"></div>
</ion-content>


<div *ngIf="showActionSheet" style="position: sticky;">
  
  <ion-bottom-drawer [(state)]="drawerState" [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce"
  [distanceTop]="distanceTop" [minimumHeight]="minimumHeight"  style="position: fixed;margin-top: 10px; transform: translateY(403px);height: 40%;" >

  <div class="drawer-content" style="overflow: hidden;">
      <ion-row style="margin-bottom: -10px;">
        <ion-col col-9 no-padding>
          <p padding-left style="font-size: 13px; color:cornflowerblue;">
            {{ "Last Updated" | translate }}
            {{ last_ping_on | date: "medium" }}
          </p>
        </ion-col>
        <ion-col col-3 no-padding style="text-align: right; padding-right: 20px;">

          <p style="font-size: 13px;">
            <ion-icon name="battery-charging" style="color: #11a46e;"></ion-icon>
            &nbsp;{{battery_percent}} %
          </p>
        </ion-col>
      </ion-row>
     
      <ion-row>
        <ion-col col-10>
          <p padding-left style="font-size: 13px;margin-top: 2px;" *ngIf="!address">N/A</p>
          <p padding-left style="font-size: 13px;margin-top: 2px;" *ngIf="address">{{ address }}</p>
        </ion-col>
        <ion-col col-2>
          <img src="assets/imgs/language.png" (click)="getAddressinHindi()" style="height: 25px;margin-left: 10px;">
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: -5px;">
        <ion-col col-4 style="text-align: center; margin-top: -8px;">
          <img src="assets/imgs/speedometer.png" style="height: 60px;">
          <p style="margin: auto;font-size: smaller;margin-top: -9px;font-weight: bold;" *ngIf="!total_odo">N/A</p>
          <p style="margin: auto;font-size: smaller;margin-top: -9px;font-weight: bold;" *ngIf="total_odo"> {{ total_odo | number: "1.0-2" }}</p>
         
          <img src="assets/imgs/statusIcons/power_na.png" style="margin-top: 15px" *ngIf="singleVehData.power == null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/pwer_disconnected.png" style="margin-top: 15px" *ngIf="singleVehData.power == '0'" width="20"
            height="20" />
          <img src="assets/imgs/statusIcons/power_connected.png" style="margin-top: 15px" *ngIf="singleVehData.power == '1'" width="20"
            height="20" />
            <img src="assets/imgs/statusIcons/ac_na.png" style="margin-top: 15px;margin-left: 5px;" *ngIf="singleVehData.ac == null" width="20" height="20" />
            <img src="assets/imgs/statusIcons/ac_present.png" style="margin-top: 15px;margin-left: 5px;" *ngIf="singleVehData.ac == '1'" width="20" height="20" />
            <img src="assets/imgs/statusIcons/ac_empty.png" style="margin-top: 15px;margin-left: 5px;" *ngIf="singleVehData.ac == '0'" width="20" height="20" />

            <ion-col width-2 style="text-align:center">
              <img src="assets/imgs/statusIcons/ign_red.png" style="margin-top: 15px;margin-left: 5px;" *ngIf="singleVehData.last_ACC == '0'" width="20" height="20" />
              <img src="assets/imgs/statusIcons/ign_green.png" style="margin-top: 15px;margin-left: 5px;" *ngIf="singleVehData.last_ACC == '1'" width="20" height="20" />
              <img src="assets/imgs/statusIcons/ign_idle.png" style="margin-top: 15px;margin-left: 5px;" *ngIf="singleVehData.last_ACC == null" width="20" height="20" />
            </ion-col>

          </ion-col>

        <ion-col col-8>
            <ion-row>

              <ion-col col-6>
                  <img src="assets/imgs/milestone-png-11.png" style="height: 24px;">
                  <p style="font-family: auto;font-size: 16px;margin: auto;font-weight: bold;margin-top: -23px;
                  margin-left: 30px;"> {{ to_odo ? (to_odo | number: "1.0-2") : 0 }}</p>
                  <p style="color: dimgray;font-size: smaller; margin: auto;margin-top: 7px;">Today KM</p>

              </ion-col>

              <ion-col col-6>
                <img src="assets/imgs/duration.png" style="height: 24px;">
                <p style="font-family: auto;font-size: 16px;margin: auto;font-weight: bold;margin-top: -23px;
                margin-left: 30px;" *ngIf="!today_running">00:00</p>
                  <p style="font-family: auto;font-size: 16px;margin: auto;font-weight: bold;margin-top: -23px;
                  margin-left: 30px;" *ngIf="today_running">{{ today_running }}</p>
                  <p style="color: dimgray;font-size: smaller; margin: auto;margin-top: 7px;">Running Time</p>

              </ion-col>
            </ion-row>

            <ion-row style="margin-top: 10px;">
              <ion-col col-6>
                <img src="assets/imgs/distance.png" style="height: 24px;">
                <p style="font-family: auto;font-size: 16px;margin: auto;font-weight: bold;margin-top: -23px;margin-left: 30px;" *ngIf="!distFromLastStop">0 {{ "KM" | translate }}</p>
                <p style="font-family: auto;font-size: 16px;margin: auto;font-weight: bold;margin-top: -23px;margin-left: 30px;" *ngIf="distFromLastStop"> {{ distFromLastStop | number: "1.0-2" }} {{ "Kms" | translate }}</p>
                <p style="color: dimgray;font-size: smaller;margin-top: 7px;">From Last Stop</p>

              </ion-col>
              <ion-col col-6>
                <img src="assets/imgs/steering-wheel-red.png" style="height: 24px;">
                <p style="font-family: auto;font-size: 16px;margin: auto;font-weight: bold;margin-top: -23px;margin-left: 30px;" *ngIf="!lastStoppedAt">N/A</p>
                <p style="font-family: auto;font-size: 16px;margin: auto;font-weight: bold;margin-top: -23px;margin-left: 30px;" *ngIf="lastStoppedAt"> {{ lastStoppedAt }}</p>
                <p style="color: dimgray;font-size: smaller;margin-top: 7px;"> from last stop </p>

              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>

      <hr />
      
    </div>
  </ion-bottom-drawer>
</div>

<ion-footer class="footer footer-md" style="position: fixed;" style="background-image: linear-gradient(to right top, #eb222a, #e42930, #dc3036, #d5353b, #cd3a40);">
  <ion-toolbar class="toolbar toolbar-md"><div class="toolbar-background toolbar-background-md" ng-reflect-klass="toolbar-background" ng-reflect-ng-class="toolbar-background-md" style="background-image: linear-gradient(to right top, #eb222a, #e42930, #dc3036, #d5353b, #cd3a40);"></div><div class="toolbar-content toolbar-content-md" ng-reflect-klass="toolbar-content" ng-reflect-ng-class="toolbar-content-md">
    <ion-title class="title title-md"><div class="toolbar-title toolbar-title-md" ng-reflect-klass="toolbar-title" ng-reflect-ng-class="toolbar-title-md"></div></ion-title>
      <ion-segment mode="md" color="gpsc" scrollable="true" (ionChange)="segmentChanged($event)" [(ngModel)]="takeAction"
    style="background-image: linear-gradient(to right top, #eb222a, #e42930, #dc3036, #d5353b, #cd3a40); border-radius: 0px 104px 0px 0px;">
    <ion-segment-button class="seg" style="padding-top: 0px;" value="live">
      
      <ion-icon name="navigate" style="color: white;margin-top: -30px;" *ngIf="takeAction === 'live'"></ion-icon>
      <ion-icon name="navigate" style="color: white;margin-top: -30px;" *ngIf="takeAction !== 'live'"></ion-icon>
      <p style="margin-top: -30px;font-size: xx-small;color: white;">Live</p>
    </ion-segment-button>
    <ion-segment-button style="padding-top: 0px;" value="history">
      
      <ion-icon name="play" style="color: white;margin-top: -30px;" *ngIf="takeAction !== 'history'"></ion-icon>
      <ion-icon name="play" style="color: white;margin-top: -30px;" *ngIf="takeAction == 'history'"></ion-icon>
      <p style="margin-top: -30px;font-size: xx-small;color: white;">Play</p>
      
    </ion-segment-button>
    <ion-segment-button style="padding-top: 0px;" value="trip">
      <ion-icon name="car" style="color: white;margin-top: -30px;" *ngIf="takeAction === 'trip'"></ion-icon>
      <ion-icon name="car" style="color: white;margin-top: -30px;" *ngIf="takeAction !== 'trip'"></ion-icon>
      <p style="margin-top: -30px;font-size: xx-small;color: white;">Trip</p>
      
    </ion-segment-button>
    <ion-segment-button style="padding-top: 0px;" value="notif">
      <ion-icon name="notifications" style="color: white;margin-top: -30px;" *ngIf="takeAction === 'notif'"></ion-icon>
      <ion-icon name="notifications" style="color: white;margin-top: -30px;" *ngIf="takeAction !== 'notif'"></ion-icon>
      <p style="margin-top: -30px;font-size: xx-small;color: white;">Alerts</p>
      
    </ion-segment-button>


    <ion-segment-button style="padding-top: 0px;" value="parking" (click)="fonctionTest(deviceDeatils)">
      
      <img src="assets/imgs/anti-theft_anti_theft_protection_hacker_investigate-512.png" style="width: 24px;" *ngIf="deviceDeatils.theftAlert" />
      <img src="assets/imgs/anti-theft_anti_theftred wt.png" style="width: 24px;" *ngIf="!deviceDeatils.theftAlert" />
      <p style="margin-top: -30px;font-size: xx-small;color: white;">Parking</p>
      
    </ion-segment-button>
    <ion-segment-button style="padding-top: 0px;" value="car_service">
      <ion-icon name="lock" style="color:#ef473a;font-size: 2em;margin-top: -30px;" *ngIf="singleVehData.ignitionLock == '1'">
      </ion-icon>
      <ion-icon name="unlock" style="color:#1de21d;font-size: 2em;margin-top: -30px;" *ngIf="singleVehData.ignitionLock == '0'">
      </ion-icon>
      <p style="margin-top: -30px;font-size: xx-small;color: white;" *ngIf="singleVehData.ignitionLock == '1'">Unlock</p>
      <p style="margin-top: -30px;font-size: xx-small;color: white;" *ngIf="singleVehData.ignitionLock == '0'">Lock</p>
      
    </ion-segment-button>
  </ion-segment>
  </div></ion-toolbar>
</ion-footer>
<div *ngIf="showFooter">
  <ion-bottom-drawer [(state)]="drawerState1" [dockedHeight]="dockedHeight1" [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop1" [minimumHeight]="minimumHeight1">
    <div class="drawer-content">
      <p style="font-size:1.2em; color:black;">
        {{ "Share Live Vehicle" | translate }}
      </p>
      <ion-row>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{ condition }}" (click)="sharedevice('15mins')">
            {{ "15 mins" | translate }}
          </button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{ condition1 }}" (click)="sharedevice('1hour')">
            {{ "1 hour" | translate }}
          </button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{ condition2 }}" (click)="sharedevice('8hours')">
            {{ "8 hours" | translate }}
          </button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{ condition3 }}" (click)="sharedevice('custom')">
            Custom
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4 style="text-align: right;">
          <ion-fab style="right: calc(10px + env(safe-area-inset-right));">
            <button ion-fab mini (click)="shareLivetemp()" color="gpsc">
              <ion-icon name="send" color="black"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>



