<ion-header>
    <ion-navbar>
      <ion-title> Device Details
      </ion-title>  
    </ion-navbar>
</ion-header>
  
<ion-content>
    <ion-list>
        <ion-item *ngIf="device.device">
          <ion-label>Vehicle Number - {{ device.device.Device_Name }} </ion-label>
        </ion-item>
        <ion-item *ngIf="device.device">
          <ion-label>SIM Number - {{ device.device.sim_number }}</ion-label>
        </ion-item>
        <ion-item *ngIf="device.user">
          <ion-label>Customer Name - {{ device.user.first_name }} {{ device.user.last_name }} </ion-label>
        </ion-item>
        <ion-item *ngIf="device.user">
          <ion-label>Customer Contact - {{ device.user.phone }} </ion-label>
        </ion-item>
        <ion-item *ngIf="device.dealer">
            <ion-label>Dealer Name - {{ device.dealer.first_name }} {{ device.dealer.last_name }} </ion-label>
          </ion-item>
        <ion-item *ngIf="device.dealer">
          <ion-label>Dealer Contact - {{ device.dealer.phone }} </ion-label>
        </ion-item>
      </ion-list>
</ion-content>