<ion-header style="background: ghostwhite;">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title (click)="toggled = false">
      {{ "Vehicle List" | translate }}
    </ion-title>
    <ion-buttons end>
      <div>
        <ion-icon (click)="toggle()"
                  *ngIf="!toggled"
                  color="light"
                  name="search"
                  style="font-size: 2.2em;">
        </ion-icon>
        <ion-searchbar (ionCancel)="cancelSearch($event)"
                       (ionClear)="onClear($event)"
                       (ionInput)="callSearch($event)"
                       *ngIf="toggled">
        </ion-searchbar>
      </div>
    </ion-buttons>
    <ion-buttons end>
      <button (click)="seeNotifications()" icon-only id="cart-btn" ion-button>
        <ion-icon name="notifications"></ion-icon>
        <ion-badge id="cart-badge">{{cartCount}}</ion-badge>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="((dealer_Permission == true)||(dealer_Permission === undefined)) || isSuperAdmin"
                 end>
      <button (click)="openAdddeviceModal()" icon-only ion-button>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <progress-bar [progress]="loadProgress" *ngIf="loadProgress !== 100">
  </progress-bar>
</ion-header>

<ion-content *ngIf="!hideMe">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
                           pullingText="{{'Pull to refresh' | translate}}"
                           refreshingSpinner="circles"
                           refreshingText="{{'Refreshing...' | translate}}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row style="padding: 3px;height: 11%;overflow: scroll;flex-wrap: nowrap;">
    <ion-col (click)="segmentChanged('ALL')"
             class="top"
             col-2
             style="background: rgb(126, 230, 161); margin: 5px;">
      <span style="font-size: 26px;">{{totaldevices}}</span>
      <p style="margin: initial;">Total</p>
    </ion-col>
    <ion-col (click)="segmentChanged('RUNNING')"
             col-2
             style="margin:auto;font-size: smaller;
    background: green;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 10px;">
      <span style="font-size: 26px;">{{Running}}</span>
      <p style="margin: initial;">Running</p>
    </ion-col>

    <ion-col (click)="segmentChanged('IDLING')"
             class="top"
             col-2
             style="background:orange ; margin: 5px;">
      <span style="font-size: 26px;">{{IDLING}}</span>
      <p style="margin: initial;">Idling</p>
    </ion-col>

    <ion-col (click)="segmentChanged('STOPPED')"
             class="top"
             col-2
             style="background: red; margin: 5px;">
      <span style="font-size: 26px;">{{Stopped}}</span>
      <p style="margin: initial;">Stopped</p>
    </ion-col>

    <ion-col (click)="segmentChanged('OUT OF REACH')"
             class="top"
             col-2
             style="background: rosybrown; margin: 5px;">
      <span style="font-size: 26px;">{{OutOffReach}}</span>
      <p style="margin: initial;">Ofr</p>
    </ion-col>

    <ion-col (click)="segmentChanged('NO DATA')"
             class="top"
             col-2
             style="background: gray; margin: 5px;">
      <span style="font-size: 26px;">{{nodata ? nodata : 0}}</span>
      <p style="margin: initial;">Nodata</p>
    </ion-col>
    <ion-col (click)="segmentChanged('Expired')"
             class="top"
             col-2
             style="background: rgb(126, 230, 161); margin: 5px;">
      <span style="font-size: 26px;">{{expiredDevices}}</span>
      <p style="margin: initial;">Expired</p>
    </ion-col>

    <ion-col (click)="segmentChanged('expiring')"
        class="top"
        col-2
        style="background: yellowgreen; margin: 5px;">
    <span style="font-size: 26px;">{{expiring}}</span>
    <p style="margin: initial;">Expiring</p>
    </ion-col>
  </ion-row>

  <div *ngIf="(allDevicesSearch.length === 0) && !showEmptyStatus"
       style="text-align: center; margin-top: 10%;">
    <ion-spinner color="gpsc"></ion-spinner>
    <p>Loading...</p>
  </div>

  <div *ngIf="showEmptyStatus" style="text-align: center; margin-top: 10%;">
    <p>
      No
      <span *ngIf="checkIfStat != 'ALL'">{{checkIfStat | titlecase}}</span> vehicle(s) found.
    </p>
  </div>

  <div *ngIf="allDevicesSearch.length > 0">
    <div *ngIf="isPayNow " style="display: flex;justify-content: space-around;">
      <button (click)="activateVehicles()"
              ion-button
              style="background-color: black;color: white;padding: 10px 20px;margin: 10px;font-size: 18px;border-radius: 25px;">
        <span>Pay Now</span>
      </button>
      <button (click)="supportCall()"
              ion-button
              style="background-color: black;color: white;padding: 10px 20px;margin: 10px;font-size: 18px;border-radius: 25px;">
        <ion-icon ios="ios-call" md="md-call" style="color: white;"></ion-icon>Support
      </button>
    </div>
    <ion-card *ngFor="let d of allDevicesSearch; let i = index"
              style="border-radius: 20px;">
      <div *ngIf="d.expiration_date < now" style="position: relative">
        <div>
          <ion-item (click)="selected($event,d)"
                    [ngStyle]="{background: isSelected(d) ? '#888686': 'black'}">
            <ion-avatar (click)="selected($event,d)"
                        *ngIf="iconCheck(d.status,d.iconType)"
                        item-start>
              <img *ngIf="d.iconType === 'jjcb'"
                   src="{{devIcon}}"
                   style="margin-left: 10px;"
                   width="30px" />
              <img *ngIf="!isSelected(d)"
                   src="{{devIcon}}"
                   style="margin-left: 10px;"
                   width="20px" />
              <img *ngIf="isSelected(d)"
                   src="assets/imgs/cheackright.png"
                   style="margin-left: 10px;"
                   width="20px" />
              <!-- <ion-icon ios="ios-add-circle" md="md-add-circle" *ngIf="selectedArray.length > 0" style="color: white; font-size: 20px;"></ion-icon> -->
            </ion-avatar>
            <div>
              <h2 style="color: rgb(255, 255, 255)">{{ d.Device_Name }}</h2>
              <p ion-text
                 style="color:rgb(255, 255, 255);font-size: 10px;font-weight: 400;margin:0px;"
                 text-wrap>
                <span style="text-transform: uppercase; color: red;">
                  {{ d.status }}
                </span>
                <span *ngIf="d.status_updated_at">
                  {{ "since" | translate }}&nbsp;{{
                  d.status_updated_at | date: "medium"
                  }}
                </span>
              </p>
            </div>
          </ion-item>
        </div>
      </div>

      <div *ngIf="d.expiration_date == null || d.expiration_date > now">
        <ion-item (click)="livetrack(d)" style="padding: 0px;">
          <ion-row>
            <ion-col (click)="goToVehicleDetails(d, $event)" col-5 style="margin-top: -20px;">
              <ion-avatar *ngIf="iconCheck(d.status,d.iconType)" item-start>
                <img *ngIf="d.iconType === 'jcb'"
                     src="{{devIcon}}"
                     style="margin-left: 10px;height: 80px;width: inherit;"
                     width="30px" />
                <img *ngIf="d.iconType != 'jcb'"
                     src="{{devIcon}}"
                     style="margin-left: 10px;height: 80px;width: inherit;"
                     width="20px" />
              </ion-avatar>

              <p (click)="livetrack(d)"
                 style="color: black; font-size: 4vw; padding-right: 8px;text-align: center;margin-top: 10px;">
                {{ d.Device_Name }} &nbsp;&nbsp;
              </p>
            </ion-col>

            <ion-col col-5>
              <div style="height: 10px;
              width: 22px;
              float: left;
              margin-left: -25px;
              font-size: x-small;
              margin-top: 0px;">
                Last Ping
              </div>
              <div style="height: 10px;
              width: 22px;
              float: left;
              margin-left: -25px;
              font-size: x-small;
              margin-top: 15px;">
                Today KM
              </div>
              <div style="height: 10px;
              width: 22px;
              float: left;
              margin-left: -13px;
              font-size: x-small;
              margin-top: 33px;">
                SPEED
              </div>
              <div *ngIf="d.status !== 'OUT OF REACH'"
                   style="height: 10px;
              width: 22px;
              float: left;
              margin-left: -28px;
              font-size: xx-small;
              margin-top: 54px;
              ">
                {{d.status}}
              </div>
              <div *ngIf="d.status == 'OUT OF REACH'"
                   style="height: 10px;
              width: 22px;
              float: left;
              margin-left: -34px;
              font-size: xx-small;
              margin-top: 53px;
              position: absolute;
              ">
                {{d.status}}
              </div>
              <div
              style="height: 10px;
                      width: 22px;
                      float: left;
                      margin-left: -21px;
                      font-size: xx-small;
                      margin-top: 68px;">
                Voltage
              </div>
              <div
              style="height: 10px;
                      width: 22px;
                      float: left;
                      margin-left: -21px;
                      font-size: xx-small;
                      margin-top: 82px;">
                Expires
              </div>
              <ul class="bar"
                  style="font-size: x-small;
              margin-left: -12px;
              margin-top: -9px;">
                <li>
                  {{d.last_ping_on | date: 'mediumDate'}},{{d.last_ping_on | date:'shortTime'}}
                </li>
                <li (onCreate)="getDistanceReport(d, i)">
                  {{ d.today_odo ? (d.today_odo | number: "1.0-2") : 0 }}
                </li>
                <li>{{ d.last_speed ? d.last_speed : 0 }} &nbsp; km/h</li>
                <li (onCreate)="getDuration(d, i)">
                  SINCE &nbsp;{{d.duration}}
                </li>
                <li *ngIf="d.battery">{{ d.battery | number: "1.0-2" }}</li>
                <li *ngIf="!d.battery">N/A</li>
                <li >{{ d.expiration_date | date: 'dd/MM/yyyy' }}</li>
              </ul>
            </ion-col>

            <ion-col col-2 style="text-align: -webkit-right;">
              <p style="width: 15px; height: initial; margin-bottom: revert">
                <img *ngIf="d.last_ACC == '0'"
                     height="20"
                     src="assets/imgs/statusIcons/ign_red.png"
                     width="20" />
                <img *ngIf="d.last_ACC == '1'"
                     height="20"
                     src="assets/imgs/statusIcons/ign_green.png"
                     width="20" />
                <img *ngIf="d.last_ACC == null"
                     height="20"
                     src="assets/imgs/statusIcons/ign_idle.png"
                     width="20" />
              </p>
              <p style="width: 15px; height: initial; margin-bottom: revert">
                <img *ngIf="d.ac == null"
                     height="20"
                     src="assets/imgs/statusIcons/ac_na.png"
                     width="20" />
                <img *ngIf="d.ac == '1'"
                     height="20"
                     src="assets/imgs/statusIcons/ac_present.png"
                     width="20" />
                <img *ngIf="d.ac == '0'"
                     height="20"
                     src="assets/imgs/statusIcons/ac_empty.png"
                     width="20" />
              </p>
              <p style="width: 15px; height: initial; margin-bottom: revert">
                <img *ngIf="d.power == null"
                     height="20"
                     src="assets/imgs/statusIcons/power_na.png"
                     width="20" />
                <img *ngIf="d.power == '0'"
                     height="20"
                     src="assets/imgs/statusIcons/pwer_disconnected.png"
                     width="20" />
                <img *ngIf="d.power == '1'"
                     height="20"
                     src="assets/imgs/statusIcons/power_connected.png"
                     width="20" />
              </p>
              <p style="width: 15px; height: initial">
                <img *ngIf="d.gpsTracking == null"
                     height="20"
                     src="assets/imgs/statusIcons/gps_na.png"
                     width="20" />
                <img *ngIf="d.gpsTracking == '0'"
                     height="20"
                     src="assets/imgs/statusIcons/gps_notPresent.png"
                     width="20" />
                <img *ngIf="d.gpsTracking == '1'"
                     height="20"
                     src="assets/imgs/statusIcons/gps_present.png"
                     width="20" />
              </p>
            </ion-col>
            <!-- <span>
            {{ d.address }}
            </span>-->
            <ion-row (onCreate)="device_address(d, i)">
              <ion-col class="overme"
                       col-12
                       style="font-size: small; margin-left: 14px;margin-top: -8px; ">
                {{ d.address }}
              </ion-col>
            </ion-row>
          </ion-row>

          <div *ngIf="!showDeleteBtn(d.SharedWith)" item-end>
            <button (click)="presentPopover($event, d); $event.stopPropagation()"
                    *ngIf="option_switch"
                    clear
                    color="gpsc"
                    ion-button
                    style="font-size: 4vw; margin: 0px;">
              <ion-icon ios="ios-more" md="md-more"></ion-icon>
            </button>
          </div>

          <div *ngIf="showDeleteBtn(d.SharedWith)">
            <button (click)="sharedVehicleDelete(d)"
                    clear
                    color="danger"
                    ion-button
                    item-end
                    style="font-size: 4vw; margin: 0px;">
              <ion-icon ios="ios-remove-circle" md="md-remove-circle">
              </ion-icon>
            </button>
          </div>
        </ion-item>
      </div>
    </ion-card>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
                                 loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<div padding>
  <ion-bottom-drawer [(state)]="drawerState"
                     [distanceTop]="distanceTop"
                     [dockedHeight]="dockedHeight"
                     [minimumHeight]="minimumHeight"
                     [shouldBounce]="shouldBounce"
                     *ngIf="showDrawer">
    <div class="drawer-content">
      <div id="content">
        <ion-row style="padding-bottom: 16px;">
          <ion-col col-4></ion-col>
          <ion-col col-4 style="border-top: 3px solid lightgray;"></ion-col>
          <ion-col col-4></ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="livetrack(drawerData)"
                   col-3
                   no-padding
                   style="text-align: center;">
            <img src="assets/imgs/segment/map_active.png" style="width: 30px;" />
          </ion-col>
          <ion-col (click)="showHistoryDetail(drawerData)"
                   col-3
                   no-padding
                   style="text-align: center;">
            <img src="assets/imgs/segment/history_active.png"
                 style="width: 30px;" />
          </ion-col>
          <ion-col (click)="fonctionTest(drawerData)"
                   col-3
                   no-padding
                   style="text-align: center;">
            <img *ngIf="drawerData.theftAlert"
                 src="assets/imgs/anti-theft_anti_theft_protection_hacker_investigate-512.png"
                 style="width: 30px;" />
            <img *ngIf="!drawerData.theftAlert"
                 src="assets/imgs/anti-theft_anti_theftred.png"
                 style="width: 30px;" />
          </ion-col>
          <ion-col (click)="IgnitionOnOff(drawerData)"
                   col-3
                   no-padding
                   style="text-align: center;">
            <ion-icon *ngIf="drawerData.ignitionLock == '1'"
                      name="lock"
                      style="color:#ef473a;font-size: 2em;">
            </ion-icon>
            <ion-icon *ngIf="drawerData.ignitionLock == '0'"
                      name="unlock"
                      style="color:#1de21d;font-size: 2em;">
            </ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="padding-bottom: 10px; color: white;">
          <ion-col col-3 no-padding style="text-align: center; ">
            {{"Live" | translate}}
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;">
            {{"History" | translate}}
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;">
            {{"Parking" | translate}}
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;">
            {{"Immobilize" | translate}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col (click)="towAlertCall(drawerData)"
                   col-3
                   no-padding
                   style="text-align: center;">
            <ion-icon *ngIf="!drawerData.towAlert"
                      name="alert"
                      style="color:#ef473a;font-size: 2em;">
            </ion-icon>
            <ion-icon *ngIf="drawerData.towAlert"
                      name="alert"
                      style="color:#1de21d;font-size: 2em;">
            </ion-icon>
          </ion-col>
          <ion-col (click)="dialNumber(drawerData.contact_number)"
                   col-3
                   no-padding
                   style="text-align: center;">
            <ion-icon name="call" style="color:white;font-size: 2em;">
            </ion-icon>
          </ion-col>
          <ion-col (click)="showVehicleDetails(drawerData)"
                   col-3
                   no-padding
                   style="text-align: center;">
            <ion-icon name="stats" style="color:#fc8803;font-size: 2em;">
            </ion-icon>
          </ion-col>
          <ion-col (click)="shareVehicle(drawerData)"
                   *ngIf="!option_switch"
                   col-3
                   no-padding
                   style="text-align: center;">
            <ion-icon *ngIf="showSharedBtn(islogin._id, drawerData.SharedWith)"
                      color="gpsc"
                      ios="ios-share"
                      md="md-share"
                      style="font-size: 2em; color: white;">
            </ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="color: white;">
          <ion-col col-3 no-padding style="text-align: center;">
            {{"Tow" | translate}}
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;">
            {{"Driver" | translate}}
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;">
            {{"Analytics" | translate}}
          </ion-col>
          <ion-col *ngIf="!option_switch"
                   col-3
                   no-padding
                   style="text-align: center;">
            {{"Share" | translate}}
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-bottom-drawer>
</div>
